{% extends 'header.html' %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
      
   </head>
   <!-- body -->
   <body class="main-layout">
	
   	<!-- contact section start -->
    
    <div class="layout_padding contact_section">
    	<div class="container">
    		<h1 class="new_text"><strong>Forgot Password</strong></h1>
    	</div>
    	<div class="container-fluid ram">
    		<div class="row">
    			<div class="col-md-6">
    				<div class="email_box">
                    <div class="input_main">
                       <div class="container">
                        {% if msg %}
                            <b><p style="color:red;">{{msg}}</p></b>
                        {% endif %}
                          <form class="form-group" method="post" action="{% url 'forgot_password' %}">
                            {% csrf_token %}
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Email" name="email">
                            </div>
                            
                            
                           
                            <div class="send_btn">
                              <h2>
                                <button type="submit" class="main_bt">Send OTP</button></a>
                              </h2>
                            </div> 
                       
                    
                          </form>  
                        </div> 
                                         
                      </div>
    		    </div>
    			</div>
    			<div class="col-md-6">
    				<div class="shop_banner">
    					<div class="our_shop">
    						<button type="submit" class="out_shop_bt">Our Shop</button>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
   	<!-- contact section end -->
	
   </body>
</html>
{% endblock %}
