{% extends 'header.html' %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
      
   </head>
   <!-- body -->
   <body class="main-layout">
    <div class="row">
    {% if wishlists %}
        <center><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total Shoes In Wishlist : {{wishlists.count}}</h1></center>
   {% else %}
        <center><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Shoes In Wishlist</h1></center>
   {% endif %}
   
    {% for i in wishlists %}
    <div id="box" class="col-sm-3" style="margin-top: 50px;">
    <div class="layout_padding collection_section">
      <div class="container">
        <div class="card" style="width:250px">
          <img class="card-img-top" src="{{i.shoes.shoes_image.url}}" alt="Card image" width=250px height=250px>
          <div class="card-body">
            <p class="card-title">Shoes Name : {{i.shoes.shoes_name}}</p>
            <p class="card-text">Shoes Price : {{i.shoes.shoes_price}}</p>
            <a href="{% url 'user_shoes_detail' pk=i.shoes.pk %}"><button type="submit" class="main_bt">More Details</button></a>
          </div>
        </div>
      </div>
    </div>
    </div>
    {% endfor %}
  </div>
  </body>
  </html>
{% endblock %}